.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.search {
  background-color: #F5F5F5;
  padding: 10px;
  border-radius: 10px;
  width: 40%;


}

.search input {
  border: none;
  background-color: inherit;
  padding-left: 10px;
}

.search input:focus-visible {
  border: none;
  outline: none;
}

.search-icon i {
  color: black;
}

.navContainer {
  gap: 10px;
  width: 100%;
  justify-content: center;
  margin: 10px 0;
  align-items: center;

}

.navContainer .links {
  display: flex;
  align-items: center;
  margin-left: 20px;

}

.navContainer .links ul {
  display: flex;
  gap: 25px;
  padding: 0;
  margin: 0;
}

.navContainer .links ul li,
a {
  list-style: none;
  text-decoration: none;
  color: black;
}

.navContainer .profile {
  margin-left: 10px;
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 25px;
}

.SubContainer {
  width: 100%;
  display: flex;
  background-color: #2E2E2E;
  justify-content: center;
}

.SubContainer .categorie p {
  margin: 0;
  padding: 0;
}

.SubContainer .categorie {
  margin: 10px 20px;
  padding: 0 10px;

  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  gap: 10px;
  position: relative;

}

.SubContainer .categorie::after {
  content: "";
  position: absolute;
  right: -20px;
  height: 80%;
  width: 1px;
  background-color: white;

}

.SubContainer .categorie:last-child::after {
  content: "";
  width: 0;
}


.b-black {
  background-color: #2E2E2E;
  width: 100%;
}